body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6682a9;
  background-image: url("./background-img-todo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 45.55rem;
  @media(max-width: 1700px){
	  height: 56.55rem;
  }
  @media(max-width: 1600px){
	height: 45.55rem;
}
@media(max-width: 1550px){
	height: 50.55rem;
}
@media(max-width: 1024px){
	height: 86rem;
}
@media(max-width: 768px){
	height: 62.55rem;
}
@media(max-width: 450px){
	height: 36.55rem;
} 
@media(max-width: 414px){
	height: 44.55rem;
} 
@media(max-width: 411px){
	height: 49.55rem;
} 
@media(max-width: 375px){
	height: 49.55rem;
} 
@media(max-width: 360px){
	height: 38.55rem;
} 
@media(max-width: 320px){
	height: 36.55rem;
} 
@media(max-width: 280px){
	height: 39.55rem;
} 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
